In [1]:
import pandas as pd

In [2]:
from sqlalchemy import create_engine

In [3]:
engine = create_engine('mysql+pymysql://root:Heena%402001@localhost:3306/kodnest')

In [4]:
connection = engine.connect()
query='select * from customer'
df = pd.read_sql(query,connection)
print(df)

   cid cname
0    1  John
1    2  Jack